@import 'base';
 
.success{
    @extend .message;
    background-color: greenyellow;
    border-color: darkblue;
    color: darkmagenta;
 
}
 
.error{
    @extend .message;
    background-color: red;
    border-color: orange;
    color: yellow;
}
 
.warning{
    @extend .message;
    background-color: yellow;
    border-color: orange;
    color: red;
}